<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HackRegistrationDataBaseConnectionString1" connectionString="Data Source=TANVIR-PC\SQLEXPRESS;Initial Catalog=HackRegistrationDataBase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="hackdatabaseConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\hackdatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/HACKsite" value="49159;True;2752;1;-8588052864376267508" />
  </appSettings>
</configuration>